/* Contenedor del meme */

.main-container {
    /* background-color: #E9C9BC; */
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner {
    width: 100%;
    max-width: 500px;
    padding: 23px;
    height: auto;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    /* cambiar */
}

.top-text,
.bottom-text {
    width: 100%;
    height: auto;
    padding: 10%;
    /* background-color: #1F2530; */
    background-color: var(--backTextWriting);
}

.meme-img {
    width: 100%;
    height: 70vw;
    /* background-color: #FBE4CA; */
    background-color: var(--backMemeImg);
    background-size: cover;
}

.btn-download {
    padding: 10px;
    margin: 30px;
}

.inner.transparent {
    position: relative;
    padding: 0;
}

.top-text.transparent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.bottom-text.transparent {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

/* Media querys */
@media (min-width:480px) {

    .main-container {
        width: 70%;
    }

    .inner {
        margin: 40px auto;
        font-size: 1.5em;
    }

    .top-text,
    .bottom-text {
        padding: 5%;
    }

    .meme-img {
        height: 40vw;
    }

    .btn-download {
        margin: 161px;
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 40px;
    }
}

@media (min-width:480px) {
    .meme-img {
        height: 30vw;
    }
}