/* Vista mobile */

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

section {
    padding: 10px;
}

input[type=color] {
    height: 0.5rem;
    width: 00.5rem;
    border: none;
    border-radius: 50%;
    outline: none;
}

.panel-div {
    padding: 0.5rem 0.5rem 0.5rem;
}

.input-color {
    border-radius: 50%;
}
input[type="text"],
textarea {
    border: none;
    background-color: var(--backInputTextarea);
    color: wheat;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="text"]:hover,
textarea:hover {
    background-color: var(--backInputHover);
}

label {
    padding: 5px 0;
    display: block;
}

.btn,
select {
    border-radius: 5px;
    color: var(--colorText);
    background-color: var(--backBtn);
    padding: 5px;
    font-family: 'code';
    font-weight: 700;
    
}

.btn:hover,
select:hover {
    background-color: var(--backBtnHover);
}

.panel-title {
    padding: 0;
    text-align: center;
}

.hide {
    display: none;
}

.btn-close {

    border: none;
    outline: none;
    border-radius: 50%;
    padding: 10px; 
    font-size: 24px;
    position: absolute;
    
    
}

#btn-dark-mode,
#btn-light-mode {
    width: 122px;
}

.close {
   display: contents;
}

/* Media querys  */

@media (min-width:830) {
    .panel-title {
        font-size: 6em;
    }

    label {
        font-size: 4em;
    }
}