/* Vista mobile */

/* Pestaña de imagen */


.img-panel {

    width: 100%;
    color: var(--colorText);
    background-color: var(--backPanel);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.div-container {
    display: flex;
}

.color-fondo {
    margin-right: 6px;
    margin-left: -22px;
    width: 30px;
    height: 30px;

}

.div-fondo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 24px;
}

.filter {
    background-color: var(--slide);
    border-radius: 5px;
    appearance: none;
    padding: 5px;
    height: 1px;
    margin-top: 10px;
    width: 100%;
}

input[type='range']{
    width: 95%;
    height: 0.65rem;
    background-color: var(--btnBackHover);
    appearance: none;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 6px 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--slideBtn);
    cursor: pointer;
}

.slide {
    width: 100%;
}

.reset-contaianer {
    padding-bottom: 1.1rem;
    display: flex;
    justify-content: center;
}

.border {
    display: flex;
    justify-content: space-between;
}

.btn-border {
    width: 30%;
}

/* Pestaña del texto */

.text-container {
    width: 100%;
}

.panel-color {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.cell {
    width: 50%;
}

.background-panel {
    background-color: var(--backPanel);
    color: var(--colorText);
}

.no-text {
    color: var(--colorText);
}

.text-properties {
   text-align: center;
}

.font-size {
    padding: 7px;
    margin-left: 10px;
}

.font-family {
    margin-bottom: 10px;
    width: 100%;
}

.align {
    height: 20px;
    margin: 5px;
    padding: 5px;
    width: 20px;
}

.style-properties-text {
    background-color: var(--backInputTextarea);
    border: none;
    border-radius: 5px;
    display: inline;
    margin-right: 20px;
    cursor: pointer;   
}

.spacing {
    padding: 7px;
}

.disappear {
    display: none;
}

/* .font-comic-sans {
    font-family: 'Comic Sans MS';
}

.font-american-typewriter {
    font-family: 'American Typewriter';
}

.font-arial {
    font-family: 'Arial';
}

.font-arial-black {
    font-family: 'Arial Black';
}

.font-andale-mono {
    font-family: 'Andale Mono' ;
}

.font-helvetica {
    font-family: 'Helvetica';
} */

.option-img,
.option-text {
    height: 100vh;
    padding: 0;
    position: fixed;
    width: 100vw;
    overflow-x: hidden;
}

.option-img::-webkit-scrollbar,
.option-text::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Media querys  */

@media (min-width:480px) {
    .div-container {
        margin-right: 30px;
        margin-left: 30px;
    }

    .option-img,
    .option-text {
        width: 30%;
        right: 0;
    }

    .font-size{
        margin-left: 0;
    }

    .style-properties-text {
        margin-right: 11px;
        cursor: pointer;
    }
}